html, body {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    margin-right: 20px;
    margin-bottom: 460px;
    display: flex;
    flex-direction: column;
}

.counter{
    margin-bottom: 20px;
    border: 2px solid white;
}

.score {
    border: 2px solid white;
}

#game{
    border: 4px solid violet;
}

.storage{
    margin-left: 20px;
    margin-bottom: 480px;
    border: 2px solid greenyellow;
}

input {
    opacity: 0;
}